
@{
    ViewBag.Title = "Gz";
}

    <div class="container margins" style="background-color: #bbff99; text-align:center">
        <hr>
        <div class="col-sm-12">
            <span class='glyphicon glyphicon-ok-sign' style='color:#55ff00; font-size: 150px'></span>
            <hr>
        </div>
        <div class="col-sm-12">
            <h1><b> Twoje konto zostało utworzone </b></h1> <br>
        </div>
        <div class="col-sm-12">
            <a class="lks" href="@Url.Action("SignUp", "SignUp")"><b> Zaloguj się </b></a>
        </div>
        <div class="col-sm-12">
            <br><p style="font-size: 180%"> lub </p>
        </div>
        <div class="col-sm-12">
            <a class="lks" href="@Url.Action("Index", "Home")"><b> Wróć na stronę główną </b></a>
            <hr>
        </div>
    </div>

