
@{
    ViewBag.Title = "SignIn";
}

<div class="row">
    <div class="col-sm-12">
        <h2 style="color: #1a1a1a; text-align: center;"><b>Tworzenie nowego konta</b></h2>
    </div>
    <div class="container margins col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="background-color: #f2f2f2;">
        <hr>
        <form class="form-horizontal" method=post action="">
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" style="white-space: nowrap;" for="mail">E-mail:</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="mail" name="mail" required maxlength=30 onblur="check()">
                </div>
                <div class="col-sm-1">
                    <span id="user-availability-status"></span>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="name">Imię:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" required maxlength=20>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="city">Miasto:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" required maxlength=30>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="post">Kod pocztowy:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="post" name="post" required maxlength=10>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="phone">Telefon:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="phone" name="phone" required maxlength=10>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="password">Hasło:</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="password" placeholder="min. 6 znaków" name="password" required maxlength=20 pattern=".{0}|.{6,}" onblur="checkpasslen()">
                </div>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="cpassword">Powtórz hasło:</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="cpassword" name="cpassword" required onblur="checkpass()" disabled>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                </div>
                <hr>
            </div>
        </form>
    </div>
</div>

<script>
    function checkpasslen() {
        var p = document.getElementById('password').value;
        if (p.length < 7 && p.length > 0) {
            alert("Hasło musi być dłuższe niż 6 znaków!");
            setTimeout("document.getElementById('password').focus()", 0);
        }
        if (p.length > 6)
            $("#cpassword").prop('disabled', false);
    }

    function checkpass() {
        var p = document.getElementById('password').value;
        var c = document.getElementById('cpassword').value;
        if (p != c) {
            alert("Hasła się nie zgadzają")
            document.getElementById('cpassword').value = "";
        }
    }

    function check() {
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "checkdata.php",
            data: 'mail=' + $("#mail").val(),
            type: "POST",
            success: function (data) {
                $("#user-availability-status").html(data);
            },
            error: function () { }
        });
    }
</script>

